{
  "parser": "babel-eslint",
  "extends": "@bruitt/eslint-config-lint-app",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "max-len": [
      "error",
      88,
      2,
      {
        ignoreUrls: true,
        ignoreComments: false,
        ignoreRegExpLiterals: true,
        ignoreStrings: true,
        ignoreTemplateLiterals: true
      }
    ]
  }
}
