@import "../../styles/common.pcss";

.FluxInvoicePage {
  position: relative;
  width: 50rem;
  // height: 100vh;
  // min-height: 30rem;
  margin: 5rem auto;

  // display: flex;
  align-items: center;
}

