@import "../../styles/common.pcss";

:global {
  :root {
    color: $fgWhite;
    background-color: $bgBlack;
    @mixin sansSerif;

    [data-view="desktop"] {
      min-width: 1024px;
    }

    button, input, optgroup, select, textarea {
      @mixin sansSerif;
    }

    a:focus {
      outline: none;
    }
  }
}
